* {
  font-family: "Noto Sans";
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: whitesmoke;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

hr {
  color: #ddd;
  margin: auto;
}

.section-container {
  padding: 15px;
}

.skill-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-card {
  width: 50%;
  text-align: center;
}

.logo-card .logo-title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.btn-container {
  position: relative;
  top: 15%;
  left: 2%;
  width: 70px;
  color: white;
}

.btn-container:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .btn-container {
    display: none;
  }
}

.text-primary {
  color: #17a2b8;
}

.bg-dark {
  background: #343a40;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-container a {
  color: white;
  font-size: 2rem;
  width: 70px;
  height: 70px;
  background-color: #343a40;
  border-radius: 100%;
  line-height: 70px;
  margin: 0 1rem;
}

.social-container a:hover {
  background-color: whitesmoke;
  color: #343a40;
}

.nav-container {
  background: #17a2b8;
  height: 8vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

@media screen and (min-width: 600px) {
  .nav-container {
    grid-area: nav;
    height: 100vh;
    max-width: 20vw;
    position: -webkit-sticky;
    position: sticky;
  }
}

.nav-container menu {
  background: #17a2b8;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-container menu.show-menu {
  padding-top: 15px;
  height: 200px;
}

@media screen and (min-width: 600px) {
  .nav-container menu {
    height: auto;
  }
}

.nav-container .nav-ul {
  margin: 0;
  padding: 0 15px 20px 15px;
  font-size: 1.2rem;
}

.nav-container .nav-ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px 0;
}

.nav-container .nav-ul li a {
  color: #093e47;
  text-decoration: none;
}

.nav-container .nav-ul li a:hover {
  color: #63d9ec;
}

.header-container {
  grid-area: header;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container h1 {
  font-size: 4rem;
}

.header-container p {
  font-size: 1.5em;
}

.header-container span {
  color: #17a2b8;
}

.main-container {
  grid-area: main;
}

.section-container {
  min-height: 100vh;
  padding: 15px;
}

.section-container#projects {
  text-align: center;
}

.section-container .project-item {
  margin-bottom: 5rem;
}

.section-container h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.section-container h3 {
  margin-bottom: 2rem;
}

.section-container img {
  max-width: 100%;
  height: auto;
}

.section-container .project-links {
  display: block;
  margin-bottom: 1rem;
}

.section-container .project-links a {
  color: #17a2b8;
  text-decoration: none;
  text-transform: uppercase;
}

.section-container .project-links a:hover {
  color: black;
}

@media screen and (min-width: 500px) {
  .section-container h2 {
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  #wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 8fr;
        grid-template-columns: 2fr 8fr;
        grid-template-areas: "header header" "nav main";
  }
}
/*# sourceMappingURL=styles2.css.map */