
* {
  font-family: 'Noto Sans';
  padding: 0;
  box-sizing: border-box;
}

html, body {
 height: 100%;
 background: whitesmoke;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

hr {
  color: $grey;
  margin: auto;
}

.section-container {
  padding: 15px;
}