#scroll-down {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2%;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 3px solid gray;
  color: gray;
  cursor: pointer;
}
#to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2%;
  bottom: 2%;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 3px solid gray;
  color: gray;
  cursor: pointer;
}

.skill-logo-container {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.logo-card {
  text-align: center;

  .logo-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
