.skill-logo-container {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.logo-card {
  text-align: center;

  .logo-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
