$bar-height: 4px;

.btn-container {
  width: 18%;
  padding: 15px;
}
#menu-button {
  position: relative;
  width: 100%;
  height: $bar-height;
  background: white;

  &:before {
    display: block;
    position: absolute;
    content:'';
    width: 100%;
    height: $bar-height;
    background: white;
    top: 10px;
  }
  &:after {
    display: block;
    position: absolute;
    content:'';
    width: 100%;
    height: $bar-height;
    background: white;
    top: 20px;
  }
}

// TEXT UTILITIES
.text-primary {
  color: $primary;
}

// BG UTILITIES
.bg-dark {
  background: $dark;
}