$bar-height: 4px;

.btn-container {
  width: 70px;
  padding: 15px;

  &:hover {
    cursor: pointer;
  }
}
#menu-button {
  position: relative;
  width: 100%;
  height: $bar-height;
  background: white;

  &:before {
    display: block;
    position: absolute;
    content:'';
    width: 100%;
    height: $bar-height;
    background: white;
    top: 10px;
  }
  &:after {
    display: block;
    position: absolute;
    content:'';
    width: 100%;
    height: $bar-height;
    background: white;
    top: 20px;
  }
}

// TEXT UTILITIES
.text-primary {
  color: $primary;
}

// BG UTILITIES
.bg-dark {
  background: $dark;
}

// ICONS
.social-container {
  display: flex;
  justify-content: center;

  & a {
    color: white;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    background-color: $dark;
    border-radius: 100%;
    padding: 15px;
    margin: 0 1rem;

    &:hover {
      background-color: whitesmoke;
      color: $dark;
    }
  }
}