@import "colors.scss";
@import "globals.scss";
@import "utility.scss";


.nav-container {
  background: $primary;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

.header-container {
  height: 100vh;
  padding: 10px;
  text-align: center;

  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5em;
  }
  span {
    color: $primary;
  }
}

.main-container {
  background: green;
}

.section-container {
  min-height: 100vh;
}

#about {
  background: lightblue;
}

#projects {
  background: lightcoral;
}

#skills {
  background: lightseagreen;
}