@import "colors.scss";
@import "globals.scss";
@import "svg.scss";
@import "utility.scss";
@import "nav_menu.scss";
@import "header.scss";
@import "main.scss";

#wrapper {
  @media screen and (min-width: $break-mobile-size) {
    & {
      display: grid;
      grid-template-columns: 2fr 8fr;
      grid-template-areas:
        "header header"
        "nav main";
    }
  }
}
